name: Publish (Modrinth + CurseForge)

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Make gradlew executable
        run: chmod +x gradlew
        
      - name: Build
        run: ./gradlew clean build

      - name: Publish
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          files: |
            build/libs/!(*-@(dev|sources|javadoc)).jar

          loaders: forge
          game-versions: 1.20.1

          version: ${{ github.event.release.tag_name }}
          name: ${{ github.event.release.name }}
          changelog: ${{ github.event.release.body }}

          version-type: release

          modrinth-id: ${{ secrets.MODRINTH_PROJECT_ID }}
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          curseforge-id: ${{ secrets.CURSEFORGE_PROJECT_ID }}
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          modrinth-dependencies: |
            gregtechceu-modern(required)
            ldlib(required)

          curseforge-dependencies: |
          557242(required)
          626676(required)